/* Estilo geral do header */
.nav-header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #007bff; /* Ajuste a cor conforme necessário */
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 3;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.logo-image {
    max-height: 50px; /* Ajuste o tamanho da imagem conforme necessário */
    width: auto;
}
